x<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add a Custom Recipe</title>
<style>
input.ng-valid {
	background-color: lightgreen;
}

input.ng-dirty.ng-invalid-required,input.ng-dirty.ng-invalid-number {
	background-color: red;
}

input.ng-dirty.ng-invalid-min {
	background-color: yellow;
}

#ingredient-list-element {
	padding: 20px 15px;
}

</style>
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
</head>
<body>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>

	<script>
		/*<![CDATA[*/
		var app = angular.module('myApp', []);
		app.controller('editRecipeCtrl', function($scope, $http, $q) {
			$scope.recipeName = {
					coffee : '',
					milk : '',
					sugar : '',
					chocolate : ''
				}
			console.log("Hit!");
			
			$scope.getInventory = function() {
				$http.get("/api/v1/inventory").then(function(response) {
					$scope.inventoryOriginal = response.data;
				}, function(rejection) {
					console.error("Error while getting Inventory");
				})
			}

			
			
			$scope.reset = function() {
				$scope.recipe = {
					name : '',
					price : '',
					ingredients : [
					]
				};
				if (undefined != $scope.addRecipeForm) {
					$scope.addRecipeForm.$setPristine(); // reset Form
				}
			}

			$scope.submit = function() {
				$scope.addRecipe();

				$scope.reset();
			}

			$scope.addRecipe = function() {
				$scope.success = false;
				$scope.failure = false;

				$http.post("/api/v1/recipes", $scope.recipe).then(
						function(success) {
							$scope.success = true;
						}, function(rejection) {
							$scope.failure = true;
							console.error("Error while adding recipe");
						});
			}

			$scope.selectOptions = [
				"Coffee",
                "Chocolate",
                "Sugar",
                "Milk",
                "Oat Milk",
                "Whipped Cream",
                "Vanilla"
    		];

    		 $scope.ingredients = [
    		 	{"id": 1,"type":"Coffee","amount":""}
               ];

			$scope.index = $scope.ingredients.length;

  			$scope.addIngredientField = function() {
    			var newItemNo = ++$scope.index;
    			$scope.ingredients.push({'id':newItemNo, "type":"Coffee","amount":""});
  			};

  			$scope.removeIngredientField = function(id) {

        			if($scope.ingredients.length<=1){
            			alert("input cannot be less than 1");
            			return;
        			}

        			var index = -1;
    				var comArr = eval($scope.ingredients);
    				for(var i = 0; i < comArr.length; i++) {
    					if(comArr[i].id === id) {
    						index = i;
    						break;
    					}
    				}
    				if( index === -1 ) {
    					alert("Something went wrong");
    				}
    				$scope.ingredients.splice(index, 1);
  			};

  			$scope.changeValue = function() {
  				console.log($scope)
  			}

			$scope.reset();

		});
		/*]]>*/
	</script>



	<div ng-app="myApp" class="generic-container"
		ng-controller="addRecipeCtrl as ctrl">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="lead">Add a Custom Recipe</span>
			</div>

			<div class="formcontainer">
				<form ng-submit="submit()" name="addRecipeForm"
					class="form-horizontal">

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Name</label>
							<div class="col-md-7">
								<input type="text" ng-model="recipe.name" name="name"
									class="name form-control input-sm"
									placeholder="Enter recipe name" required="0" />
								<div class="has-error" ng-show="addRecipeForm.$dirty">
									<span ng-show="addRecipeForm.name.$error.required">This
										is a required field.</span> <span
										ng-show="addRecipeForm.name.$invalid">This field is
										invalid.</span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Price</label>
							<div class="col-md-7">
								<input type="number" ng-model="recipe.price" name="price"
									class="price form-control input-sm"
									placeholder="Enter recipe price" required="0" min="0"/>
								<div class="has-error" ng-show="addRecipeForm.$dirty">
									<span ng-show="addRecipeForm.price.$error.required">This
										is a required field.</span> <span
										ng-show="addRecipeForm.price.$error.min">Minimum amount
										is 0.</span> <span ng-show="addRecipeForm.price.$invalid">This
										field is invalid.</span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<label class="col-md-12 control-lable" for="file">Ingredients</label>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-12 control-lable" for="file">
								<ul class="list-group">
									<li class="list-group-item" id="ingredient-list-element" data-ng-repeat="ingredient in ingredients">
										<div class="col-md-2">
											<select class="form-control" ng-model="ingredient.type" ng-options="item for item in selectOptions">
											</select>
										</div>
										<div class="col-md-7">
											<input class="form-control" type="number" ng-model="ingredient[ingredient.type].amount" name="{{ingredient.type}}"
												   placeholder="Enter ingredient amount" required min="0" ng-change="changeValue()"/>
											<div class="has-error" ng-show="addRecipeForm.$dirty">
												<span ng-show="addRecipeForm.{{ingredient.type}}.$error.required">This
													is a required field.</span> <span
													ng-show="addRecipeForm.{{ingredient.type}}.$error.min">Minimum amount
													is 0.</span> <span ng-show="addRecipeForm.{{ingredient.type}}.$invalid">This
													field is invalid.</span>
											</div>
										</div>
										<button class="btn btn-danger" ng-click="removeIngredientField(ingredient.id)" ng-if="ingredient.id!=index">-</button>
										<button class="btn btn-danger" ng-click="addIngredientField()" ng-if="ingredient.id===index">+</button>
									</li>
								</ul>
							</label>
						</div>
					</div>

					<div class="row">
						<div class="form-actions floatRight">
							<input type="submit" value="Submit"
								class="btn btn-primary btn-sm"
								ng-disabled="addRecipeForm.$invalid" />
							<button type="button" ng-click="reset()"
								class="btn btn-warning btn-sm"
								ng-disabled="addRecipeForm.$pristine">Reset Form</button>
						</div>
					</div>
				</form>
			</div>
			<div ng-show="success">Recipe Created</div>
			<div ng-show="failure">Error while adding recipe.</div>
		</div>

		<a href="/index">Home</a>
	</div>



</body>
</html>
